* {
    margin: 0;
    padding: 0;
}
input,
button {
    outline: none;
}
input:focus {
    border: 1px solid lightseagreen;
    box-shadow: 0 0 5px lightseagreen;
    border-radius: 10px;
}
.main {
    width: 100%;
}
.screen {
    position: relative;
    width: 1000px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #f3f3f3;
}
.enter-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.enter {
    width: 350px;
    height: 40px;
    margin: 0 auto;
    text-indent: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
.bottom {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.bottom .btn {
    width: 120px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.post {
    color: lightseagreen;
    border: 1px solid lightseagreen;
    box-shadow: 0 0 3px lightseagreen;
}
.post:hover {
    color: #fff;
    background-color: lightseagreen;
}
.clear {
    border: 1px solid #666;
}
.clear:hover {
    color: #fff;
    background-color: #f52e2e;
    border-color: #f52e2e;
}
.screen .message {
    position: absolute;
    left: 1000px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 18px;
    background-color: lightblue;
    border-radius: 10px;
    z-idex: 9;
}