/*主体*/
body {
    background-color: #f5f8fb!important;
}
.hr-img {
    height: 530px;
    text-align: center;
}
.big-pic img {
    margin-top: 20px;
}
.big-pic p {
    color: #b6aeae;
    width: 600px;
    margin: 20px auto;
}
.come-here .want {
    margin-top: 30px;
    color: #3b3b3b;
    font-size: 20px;
    font-weight: bold;
}
.come-here .email {
    margin-top: 10px;
    color: #20b9ff;
    font-size: 18px;
    font-weight: bold;
}
.come-here .caution {
    margin-top: 20px;
    color: red;
    font-weight: bolder;
}
/*我要投简历*/
/*tab切换栏*/
.resume {
    width: 990px;
    margin: 20px auto;
}
.hr-tab {
    margin-bottom: 50px;
}
.hr-tab ul{
    display: flex;
    justify-content: center;
    text-align: center;
}
.hr-tab ul li {
    display: inline-block;
    text-align: center;
    background: #fff;
}
.hr-tab li a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    width: 165px;
    height: 50px;
    line-height: 50px;
}
.hr-tab .btn-active {
    position: relative;
    background-color: #5a99da;
    border-radius: 5px 5px 0 0;
}
.hr-tab .btn-active a {
    color: #fff;
}
.hr-tab .btn-active .triangle {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #fff transparent;
}
/*tab切换岗位内容*/
.career {
    width: 100%;
}
.career .job-active {
    /*display: flex;*/
    /*justify-content: center;*/
}
.career .job {
    overflow: hidden;
}
.career .left-box {
    width: 50%;
    padding-right: 30px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    color: #545454;
}
.career .right-box {
    width: 50%;
    padding-left: 30px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    color: #545454;
}
.career h2 {
    margin-bottom: 15px;
    font-size: 18px;
}
.career p {
    line-height: 28px;
}
.career .job {
    display: none;
}
.career .job-active {
    display: block;
}
