/*------banner---------*/
.banner-wrap {
    width: 100%;
    height: 530px;
    background: url("../images/header.png");
    background-size: cover;
    color: #fff;
}
.banner-wrap .banner-box h1 {
    text-align: center;
    padding-top: 120px;
    font-weight: normal;
}
.banner-wrap .banner-box>p {
    text-align: center;
    margin-top: 20px;
}
.banner-wrap .solve {
    width: 66%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-wrap .solve img {
    -webkit-transition: all .7s ease;
}
.banner-wrap .solve img:hover {
    -webkit-transform: rotateY(360deg) scale(1.2, 1.2) translateY(-15px);
    -moz-transform: rotateY(360deg) scale(1.2, 1.2) translateY(-15px);
    -ms-transform: rotateY(360deg) scale(1.2, 1.2) translateY(-15px);
    -o-transform: rotateY(360deg) scale(1.2, 1.2) translateY(-15px);
    transform: rotateY(360deg) scale(1.2, 1.2) translateY(-15px);
}
.banner-wrap .solve .first-box {
    text-align: center;
}
.banner-wrap .first-box p {
    margin-top: 20px;
}
.banner-wrap .ask {
    width: 150px;
    margin: 50px auto;
    text-align: center;
}
.banner-box .ask .btn {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border: 2px solid #c1c1c2;
    border-radius: 5px;
    padding: 8px 20px;
    position: relative;
}
.banner-box .ask .btn:hover {
    border-color: #fff;
}
.btn .line {
    position: absolute;
    /*display: block;*/
    /*background: none;*/
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}
.btn:hover .line {
    background: #fff;
}
.btn .line-top {
    height: 2px;
    width: 0;
    left: -110%;
    top: -2px;
}
.btn:hover .line-top {
    width: 96%;
    left: 4px;
}
.btn .line-bottom {
    width: 0;
    height: 2px;
    left: 210%;
    top: 47px;
}
.btn:hover .line-bottom {
    width: 96%;
    left: 4px;
}
.btn .line-left {
    width: 2px;
    height: 0;
    left: -2px;
    top: 210%;
}
.btn:hover .line-left {
    height: 96%;
    top: 1px;
}
.btn .line-right {
    width: 2px;
    height: 0;
    left: 100%;
    top: -110%;
}
.btn:hover .line-right {
    top: 2px;
    height: 96%;
}
/*--------------OpenSNS---------------*/
.sec {
    height: 580px;
}
.sec h3
{
    padding-top: 60px;
    text-align: center;
}
.sec p {
    text-align: center;
    max-width: 760px;
    margin: 20px auto;
    color: #787777;
}
.sec img {
    display: block;
    margin: 30px auto;
}
/*------------customer--------*/
.customer-wrap {
    height: 300px;
    background: #f8f8f8;
}
.customer-wrap h3 {
    text-align: center;
    padding-top:40px;
}
.customer-wrap .row {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


