.pro {
    height: 800px;
    background: #f8f8f8;
}
.pro h1 {
    text-align: center;
    font-weight: normal;
    padding-top: 30px;
    font-size: 28px;
}
.pro p {
    text-align: left;
    max-width: 600px;
    margin: 25px auto;
}
.pro-btn {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.pro a {
    display: inline-block;
    width: 105px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
.pro .a-first {
    background: #92e1c0;
}
.pro .a-second {
    background: #00bcd4;
}
.pro-btn a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
.pro img {
    display: block;
    margin: 45px auto;
}